@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600&display=swap');
@import 'tailwindcss';

*{
  font-family: "Poppins", sans-serif !important;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.clip-shape {
  clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
  
}